<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body style="background-color: #E9EBEC;">
<style>
    .my-btn{
    border-radius:30px;
    background-color:#A46C4A!important;
    color:#fff;
    font-size:25px;
    }

.cancel-btn{
border-radius:30px;
}

</style>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#A46C4A;">
    <div class="container-fluid ">
        <a class="navbar-brand" href="#" style="color:white;">Navbar</a>
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="color:white;">
                <a class="nav-link active" aria-current="page" th:href="@{/students}" style="color:white;">Home</a>
                <a class="nav-link" href="#" style="color:white;">Features</a>
                <a class="nav-link" href="#" style="color:white;">Pricing</a>
                <a class="nav-link disabled" style="color:white;"
                >Disabled</a
                >
            </div>
        </div>
    </div>
</nav>
<div class="container my-5">
    <section class="h-100 ">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <div class="col-xl-6 d-none d-xl-block">
                                <img
                                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                        alt="Sample photo"
                                        class="img-fluid"
                                        style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
                                />
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <h3 align="center" class="mb-5 text-uppercase">Student registration form</h3>


                                    <form th:action="@{/students/save}" method="post" th:object="${student}">


                                        <div class="form-outline">
                                            <label class="form-label" for="form3Example1m">First name</label>
                                            <input type="text" th:field="*{fname}"
                                                   class="form-control form-control-lg" required="required" minlength="4" maxlength="30">

                                        </div>


                                        <div class="form-outline">
                                            <label class="form-label" for="form3Example1m">Last name</label>
                                            <input type="text" th:field="*{lname}"
                                                   class="form-control form-control-lg" required="required" minlength="4" maxlength="30"  oninput="this.value = this.value.replace(/[^a-z]/, '')">
                                        </div>


                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example8">Promotion</label>
                                            <input type="number" th:field="*{promotion}" id="form3Example8"
                                                   class="form-control form-control-lg" required="required" />

                                            <div class="d-flex justify-content-end pt-3">
                                                <button type="button" class="btn btn-dark btn-lg px-5 cancel-btn">Cancel</button>
                                                <button type="submit" class="btn btn-lg ms-2 px-5 my-btn"
                                                >
                                                    submit
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                </div>

                                <!--                                    <div class="row">-->
                                <!--                                        <div class="col-md-6 mb-4">-->

                                <!--                                            <select class="select">-->
                                <!--                                                <option value="1">State</option>-->
                                <!--                                                <option value="2">Option 1</option>-->
                                <!--                                                <option value="3">Option 2</option>-->
                                <!--                                                <option value="4">Option 3</option>-->
                                <!--                                            </select>-->

                                <!--                                        </div>-->
                                <!--                                        <div class="col-md-6 mb-4">-->

                                <!--                                            <select class="select">-->
                                <!--                                                <option value="1">City</option>-->
                                <!--                                                <option value="2">Option 1</option>-->
                                <!--                                                <option value="3">Option 2</option>-->
                                <!--                                                <option value="4">Option 3</option>-->
                                <!--                                            </select>-->

                                <!--                                        </div>-->
                                <!--                                    </div>-->

                                <!--                                    <div class="form-outline mb-4">-->
                                <!--                                        <input type="text" id="form3Example9" class="form-control form-control-lg"/>-->
                                <!--                                        <label class="form-label" for="form3Example9">DOB</label>-->
                                <!--                                    </div>-->

                                <!--                                    <div class="form-outline mb-4">-->
                                <!--                                        <input type="text" id="form3Example90" class="form-control form-control-lg"/>-->
                                <!--                                        <label class="form-label" for="form3Example90">Pincode</label>-->
                                <!--                                    </div>-->

                                <!--                                    <div class="form-outline mb-4">-->
                                <!--                                        <input type="text" id="form3Example99" class="form-control form-control-lg"/>-->
                                <!--                                        <label class="form-label" for="form3Example99">Course</label>-->
                                <!--                                    </div>-->

                                <!--                                    <div class="form-outline mb-4">-->
                                <!--                                        <input type="text" id="form3Example97" class="form-control form-control-lg"/>-->
                                <!--                                        <label class="form-label" for="form3Example97">Email ID</label>-->
                                <!--                                    </div>-->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
`

</section>
</div>
</body>
</html>